.main-header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--themis-burdeos);
    color: var(--texto-claro);
    border-bottom: 2px solid var(--burdeos-oscuro);
}

.logo {
    height: 50px;
    margin-right: 1rem;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--themis-gris-suave);
    font-family: 'Playfair Display', serif;
}
